.App {
  text-align: center;
  top: 0;
  height: 20;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header-bg {
  flex: auto;
  display: flex;
  align-items: left;
  background-color: darksalmon;
  height: 64px;
  justify-content: space-between;
}

.App-header {
  flex-direction: row;
  align-items: space-between;
  display: flex;
}

.App-header-link-bg {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: calc(5px + 1vmin);
    font-family: 'highlandLight';
}

.App-header-link {
    display: block;
    color: black;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
}

.header-title-text {
  margin: 10px;
}

a.App-header-link:hover {
  background-color: white;
  color: red;
}

.Header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'advanced-sans-serif';
  color: black;
}

.Page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  font-family: 'highlandLight';
  border-radius: 10px;
  /* border-style: solid; */
  /* border-width: 0.; */
  color: black;
  margin: 10px;
  padding: 10px;
}

.Card:hover {
  transform: scale(1.5, 1.5);
  z-index: 10;
  transition: ease-out;
  transition-duration: 0.3s;
}


#boxshadow {
  position: relative;
  -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  padding: 10px;
  background: white;
}

#icon {
  padding: 10px;
}

.menu-icon{
  padding: 10px;
  width: 20px;
}

.SideBar-bg {
  position: absolute;
  /* left: -100px; */
  display: flex;
  z-index: 100;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
  background-color: darksalmon;
  width: 100px;
}

.SideBar-link-bg {
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: calc(5px + 1vmin);
  font-family: 'highlandLight';
  width: 100%;
}

.SideBar-link {
    display: block;
    color: black;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
    width: 100%;
}

a.SideBar-link:hover {
  background-color: white;
  color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

}
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  .App-header {
    display: none;
  }

}
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .menu-icon{
    display: block;
    padding: 15px;
    width: 20px;
  }
  .App-header {
    display: none;
  }


}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .menu-icon{
    display: none !important;
  }

  .SideBar-bg {
    display: none;
  }
}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */}
