@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: menu-bubble-out infinite 20s linear;
  }
}

.App-header-bg {
  flex: auto;
  display: flex;
  align-items: left;
  background-color: #5CDB95;
  height: 64px;
  opacity: 1;
  justify-content: space-between;
}

.App-header {
  flex-direction: row;
  align-items: space-between;
  display: flex;
  border-bottom-color:black ;
  border-top-width: 0px;
  border-right-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0.5px;
  border-style: solid;
}

.App-header-link-bg {
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
    font-size: calc(5px + 1vmin);
    font-family: 'highlandLight';
}

.App-header-link {
    display: block;
    color: white;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
}


.Normal {
    display: block;
    color: white;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
}

.Bubble-Out {
  background-color: white;
  color: #05386b;
  /* transition-duration: 0.3s; */
  transform: scale3d(1.2, 1.2, 1.2);
  /* border-color: black;
  border-bottom-color:white ;
  border-top-width: 1px;
  border-right-width: 1px;
  border-left-width: 1px;
  border-bottom-width: 1px;
  border-style: solid; */
  text-decoration: none;
  text-align: center;
  line-height: 64px;
  padding: 0 24px;
  /* animation: menu-bubble-out alternate 1s cubic-bezier(0.19, 1, 0.22, 1);  */
}

a.App-header-link:hover {
  background-color: white;
  color: #05386b;
  animation: menu-bubble-out 1s forwards cubic-bezier(0.19, 1, 0.22, 1);
}

a.App-header-link:not(:hover)  {
  transition-duration: 0.3s;
  animation: menu-bubble-in 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.Header-title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: 'advanced-sans-serif';
  color: #05386b;
}


.neumorphic-box {
  box-shadow: 20px 20px 50px #00d2c6,   
  -30px -30px 60px #00ffff;
}


.Page-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  color: white;
}

.Compact-Page-Size {
  width: 60%;
}

.Centered-Text {
  text-align: center;
}

.Page-Margin {
  margin: 30px;
}

.Centered-Items-Horizontally {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Centered-Items-Vertically {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Page-container-vertical {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60%;
}

.centered {
  align-self: center;
}

.thick-bordered {
  border-color: #05386b;
  border-style: dashed;
  border-width: 1;
  border-radius: 10px;
}

.standard-padding {
  padding: 10px;
}

.standard-margin {
  margin: 20px;
}


.Card {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 1vmin);
  font-family: 'highlandLight';
  border-radius: 10px;
  /* border-style: solid; */
  /* border-width: 0.; */
  color: #05386b;
  margin: 10px;
  padding: 10px;
}

.Card:hover {
  transform: scale(1.5, 1.5);
  z-index: 10;
  transition: ease-out;
  transition-duration: 0.3s;
}

.Card:not(:hover)  {
  transition: ease-out;
  transition-duration: 0.3s;
}



.box-shadow {
  border-radius: 17px;
  background: #5CDB95;
  box-shadow:  11px 11px 21px #4aaf77,
             -11px -11px 21px #6effb3;
}

#icon {
  padding: 10px;
}

.menu-icon{
  padding: 10px;
  width: 20px;
}

.SideBar-bg {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(25,25,25);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  color: white;
}

.SideBar-link-bg {
  margin: 0;
  padding: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: calc(5px + 1vmin);
  font-family: 'highlandLight';
  width: 100%;
  color: white;
}

.SideBar-link {
    display: block;
    color: white;
    line-height: 64px;
    padding: 0 24px;
    text-decoration: none;
    width: 100%;
    margin-left: 20px;
}

a.SideBar-link:hover {
  background-color: white;
  color: red;
}

a:link {
  text-decoration: none;
}

.link :hover {
  text-decoration: underline;
}

.Project-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Divider {
  height: 1px;
  background-color: black;
}

.Project-card {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
  /* width: fit-content; */
}

.Project-card:nth-child(odd) {
  flex-direction: row-reverse;
}

.Project-card-description{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px;
  /* width: fit-content; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: calc(10px + 1vmin);
}


.Project-card-title {  
  margin: 20px;
  font-weight: bold; 
  display: flex; 
  align-items: center; 
  justify-content: center
}


.Project-card-image-view {
  display: flex; 
  align-items: center; 
  justify-content: center
}

.Project-card-image {
  margin: 10px;
  width: 200px;
}
img.Project-card-image {
  object-fit: contain;
}

img.Project-card-image:hover {
  transform: scale(1.2);
  /* box-shadow: 0px 0px 10px 10px rgb(235, 135, 135); */
  background: white;
  border-radius: 10px;
  transition: ease-out;
  transition-duration: 0.3s;
  
}

img.Project-card-image:not(:hover) {
  transition: ease-out;
  transition-duration: 0.3s;
}

div.Overlay {
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  left: 0;
  right: 0;
  top: 10;
  bottom: 0;
  width: '100%';
  height: '100%';
  background: #000; 
}

/* BUTTONS */

.App-button {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12;
  color: #05386b;
  width: 100px;
  height: 44px;
  text-decoration: none;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: linear-gradient(145deg, #e6e6e6, #ffffff);
  box-shadow:  11px 11px 33px #bdbdbd,
               -11px -11px 33px #ffffff;
}

.Non-Decorated-Link {
  text-decoration: none;
}

.White-Title {
  color: white;
}

.App-footer-bg {
  position: relative;
    /* background-image: linear-gradient(rgba(229,60,31), rgb(240, 108, 85)); */
    background-color: #5CDB95;
    color: white;
    height: 200px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.footer-title {

}

.copy-right{
    position: relative;
    margin-bottom: 0px;
}

.App-footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(25,25,25);
  color: white;
}

.App-footer-link-bg {
  margin: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  display: flex;
  font-size: calc(5px + 1vmin);
  font-family: 'highlandLight';
  background-color: rgb(25,25,25);
  color: white;
}


.App-footer-link {
  text-decoration: none;
  padding: 5px;
  background-color: rgb(25,25,25);
  color: white;
}

a.no-decoration-link {
  text-decoration: none;
}

#profile-picture {
  border-radius: 50%;
  object-fit: cover;
  border-width: 5px;
  border-color: darkred;
  border-style: double;
  margin: 10px;
}


.Hire-me-text-area{ 
  height: 300px ; width: 60%; margin: 30px;
  padding: 20px;
  border-color: white;
  border-radius: 10px;
background: #ffffff;
box-shadow: inset 7px 7px 26px #e0e0e0,
            inset -7px -7px 26px #ffffff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

@keyframes menu-bubble-out {
  from {
    transform: scale3d(1, 1, 1);
  }
  to {
    transform: scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes menu-bubble-in {
  from {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}


@keyframes menu-bubble-rotated-out {
  from {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
  to {
    transform: rotate(-30deg) scale3d(1.2, 1.2, 1.2);
  }
}

@keyframes menu-bubble-rotated-in {
  from {
    transform: rotate(-30deg) scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: rotate(0deg) scale3d(1, 1, 1);
  }
}


@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */

}
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (max-width:750px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .menu-icon{
    display: block;
    padding: 15px;
    width: 20px;
  }
  .App-header {
    display: none;
  }

  a.SideBar-link:hover {
    transition: ease-out;
    transition-duration: 0.5s;
    padding-left: 60px;
    color: white;
    background-color: red;
  }
  a.SideBar-link:not( :hover ){ transition: ease-in;
    transition-duration: 0.3s;
    padding-left: 50px;
    color: white; 
    background-color: black;
    opacity: 0.5;
  }

  .Project-container {
    display: flex;
    align-items: center;
    margin: 0
  }

  .Project-card {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin: 10px;
    width: fit-content;
  }


  .Project-card-image-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    /* object-fit: contain; */
  }

  img.Project-card-image {
    width: 45%;
    object-fit: cover;
  }

  .Project-card:nth-child(odd) {
    flex-direction: column-reverse;
  }

  .Hire-me-text-area { height: 500px; width: 80%; margin-top: 30px; margin-bottom: 30px }

}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .menu-icon{
    display: none !important;
  }

  .SideBar-bg {
    display: none;
  }

}
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */}
