body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'advanced-sans-serif';
  src: local('advanced-sans-serif'), url(./resources/fonts/advanced_sans_serif_7.ttf)
}

@font-face {
  font-family: 'highlandLight';
  src: local('advanced-sans-serif'), url(./resources/fonts/HighlandGothicLightFLF.ttf)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
